server {
    listen 80;

    root /usr/share/nginx/html;
    index index.html;

    # Serve static assets (HTML, CSS, JS)
    location / {
        try_files $uri $uri/ =404;
    }

    # Proxy API requests to backend
    location /api/ {
        proxy_pass http://backend:3000/; //give backend server ip
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
